<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jedis</title>
</head>
<body>

    <h1>Novo Jedi</h1>

    <form th:action="@{/jedi}" th:object="${jedi}" method="post">
        <input type="text" name="nome"     th:field="*{nome}"     th:placeholder="Nome"/> <br/>
        <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Nome vazio.</span>
        <br/>

        <input type="text" name="sobrenome" th:field="*{sobrenome}" th:placeholder="Sobrenome"/> <br/>
        <span th:if="${#fields.hasErrors('sobrenome')}" th:errors="*{sobrenome}">Sobrenome vazio.</span>
        <br/>
        <button type="Salvar">Cria um novo Jedi</button>
    </form>
    
    <br>

    <a th:href="@{/jedi}">Jedi</a>

</body>
</html>